
extends layout

block body
  h2 Projects

  #list
    ul#projects-list
      each project in projects
        li
          a(href="/project/#{project.id}")= project.title
          a.delete(href="/project/:id") x

    form#add(action="/projects", method="POST")
      input(type="text", name="title")
      button Add
